{% extends "menuchooser/base.html" %}
{% load bootstrap3 %}
{% block navbar %}

{% endblock %}
{% block contenido %}

<div class=" jumbotron text-center ">
  <h1 >
    <a style="color:white" href="{% url 'menu:index' %}"><span class="glyphicon glyphicon-heart"></span>Recipe Gallery</a>
  </h1>
</div>
<div class="container">
  <div class="center-block" style="width:500px;">
    <form role="form"  class="white-form  center-block "   action={% url 'menu:login' %} method="post">
      {% csrf_token %}

        {% bootstrap_form form %}

      <button type="submit" class="btn btn-success center-block"><span class="glyphicon glyphicon-off"></span> Login</button>
    </form>

  </div>

</div>


{% endblock %}
