{% extends "menuchooser/base.html" %}
{% load bootstrap3 %}


{% block contenido %}
<h1 class="text-center">Cambiar Contraseña</h1>

<div class="container center-block" style="min-height:480px">

  <form role="form" class=" white-form"  method="post">

    {% csrf_token %}

        {% bootstrap_form  form %}

        <div class="center-buttons">
          <button type="submit" class="btn btn-success "><span class="glyphicon glyphicon-save"></span> Confirmar</button>

        </div>
  </form>

</div>
{% endblock %}
