{% extends "menuchooser/base.html" %}
{% load bootstrap3 %}


{% block contenido %}
<h1 class="text-center">Recuperar Contraseña</h1>

<div class="container center-block" style="min-height:480px">

  <form role="form" class=" white-form"  method="post">
    <p>
      ¿Olvidó su contraseña? Introduzca su dirección de email asociado a su cuenta abajo y le enviaremos instrucciones para establecer una nueva.
    </p>
    {% csrf_token %}

        {% bootstrap_form  form  layout='inline'%}


    <button type="submit" class="btn btn-success "><span class="glyphicon glyphicon-save"></span> Enviar mail</button>
  </form>

</div>
{% endblock %}
