{% extends "menuchooser/base.html" %}
{% load bootstrap3 %}


{% block contenido %}
<h1 class="text-center">Recuperar Contraseña</h1>

<div class="container center-block" style="min-height:480px">

  <form role="form" class=" white-form"  method="post">
    <p>
      Reestablesca su contraseña
    </p>
    {% csrf_token %}

        {% bootstrap_form  form %}


    <button type="submit" class="btn btn-success "><span class="glyphicon glyphicon-save"></span> Cambiar mi contraseña</button>
  </form>

</div>
{% endblock %}
