{% extends "menuchooser/base.html" %}
{% load bootstrap3 %}


{% block contenido %}

<div class="container center-block">
  <form role="form" class="white-form" enctype='multipart/form-data'     action="" method="post">
    {% csrf_token %}

        {% bootstrap_form user_form %}
        {% bootstrap_form profile_form %}
        <div class="center-buttons">
          <button type="submit" class="btn btn-success "><span class="glyphicon glyphicon-save"></span> Guardar Cambios</button>

        </div>
  </form>

</div>
{% endblock %}
