{% extends "menuchooser/base.html" %}
{% load bootstrap3 %}
{% load static %}
{% block navbar %}

{% endblock %}
{% block contenido %}

<div class=" jumbotron text-center ">
  <h1 >
    <a style="color:white" href="{% url 'menu:index' %}"><img src='{% static "menuchooser/logo.png" %}' style="width:350px;height:300px;"/></a>
  </h1>
</div>
<div class="container">
  <div class="center-block" style="width:800px;">
  <form role="form"  class="white-form "   action={% url 'menu:register' %} method="post">
    {% csrf_token %}

  {% bootstrap_form form %}

    <button type="submit" class="btn btn-success center-block"><span class=" glyphicon glyphicon-user"></span> Sign In</button>
  </form>
  </div>
</div>

{% endblock %}
