{% extends "menuchooser/base.html" %}
{% load static%}

{% block title %}
{{usuario.username}} |
{% endblock %}

{% block navbar_content %}
<div class="collapse navbar-collapse" id="navMenu">
  <ul class="nav navbar-nav ">
    {% if request.user.is_authenticated %}
    <li  class="nav-button"><a href="#" id="agregar_receta" ><span class="glyphicon glyphicon-plus"></span> Agregar Receta</a></li>
    {% endif %}

  </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if request.user.is_authenticated %}
        <li class="dropdown nav-button" >
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{request.user.get_username}} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li>  <a href="{% url 'menu:userprofile' request.user.id %}" ><span class="glyphicon glyphicon-user" ></span> Mi perfil </a> </li>
                <li>  <a href="{% url 'menu:edituserprofile' request.user.id %}" > <span class="glyphicon glyphicon-edit" ></span> Editar perfil </a> </li>
                <li class="divider"></li>
                <li> <a href={% url 'password_change' %}  >Cambiar Password</a> </li>
                <li class="divider"></li>
                <li> <a href={% url 'logout' %}  ><span class="glyphicon glyphicon-log-out"></span> Log Out</a> </li>
              </ul>
        </li>
            {% else %}
            <li><a href="{% url 'menu:register' %}" > <span class="glyphicon glyphicon-user"></span> Registrarse</a></li>
            <li></a><a href="{% url 'login' %}"> <span class="glyphicon glyphicon-log-in"></span> Ingresar</a></li>
            {% endif %}

      </ul>
</div>
{% endblock %}

{% block contenido %}
<div id="agregarDiv" class="container" style="display:none;width: 100%;">
  {% include "menuchooser/agregar-receta.html"  %}
</div>

{% if not usuario.email and request.user == usuario %}
<div class="alert alert-danger text-center">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Email!!!</strong> En caso de que olvides tu contraseña necesitas tu Email para recuperarla, <a href="{% url 'menu:edituserprofile' usuario.id %}" > Completa tu perfil </a>!
</div>

{% endif %}
<div id="perfil" class="container-fluid" >
  <div class="row ">

      <div class="col-md-3"  >
        <div class="text-center">
        {% if usuario.profilemodel.avatar  %}
        <img class="img-thumbnail" src="{{MEDIA_URL}}{{usuario.profilemodel.avatar}}"  style="width:250px;height:auto;"/>
        {% else %}
        <img class="img-thumbnail" src="{% static "menuchooser/default-avatar.png" %}"  style="width:250px;height:auto;"/>
        {% endif %}

          <h1 id="user" usuario="{{usuario.pk}}" >{{usuario.get_username}}</h1>

          <p>  {{usuario.get_full_name}}</p>
          <p>{{usuario.profilemodel.bio}}</p>



        </div>

      </div>

      <div class="col-md-7" >

      {% if not tipos  %}
        <div  >
            <h2 class="text-center">El Usuario no a creado ninguna receta aún!</h2>
        </div>
      {% endif %}


      {% for tipo in tipos %}
        <div class="panel-group" id="accordion">

          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#{{tipo.Tipo|slugify}}">{{tipo.Tipo}} ({{tipo.cant_recetas}})</a>
              </h4>
            </div>
            <div id="{{tipo.Tipo|slugify}}" class="panel-collapse collapse ">
              <div class="panel-body">
                {% if request.user == usuario %}
                      {% for r in  recetas %}

                            {% if r.Tipo.pk == tipo.pk %}
                            <div class="col-sm-3 recipe-profile-list" >
                              <div class="panel panel-primary">
                                <div class="panel-heading text-center">
                                  <a style="color:white;" href="{% url 'menu:detailfood' r.pk %}" >{{r.Titulo}}</a>
                                  <div>
                                    {% if receta.Imagen %}
                                    <img class="img-rounded img-responsive" src="{{MEDIA_URL}}{{r.Imagen}}"  alt="Imagen no disponible" />
                                    {% else %}
                                    <img  class="img-rounded img-responsive" src="{{r.Imagen_URL}}"  alt="Imagen no disponible" />
                                    {% endif %}

                                    <a href=" {% url 'menu:editfood' r.id %}" role="button" class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-edit"></span>Editar</a>

                                    <button recepy-id={{r.id}} type="button" class="btn btn-danger btn-sm deletebutton" data-toggle="modal" data-backdrop="false"  data-target="#myModal{{r.id }}"><span class="glyphicon glyphicon-remove"></span>Borrar</button>

                                  </div>

                                  <div id="myModal{{r.id }}" class="modal fade" role="dialog">
                                    <div class="modal-dialog">

                                      <div class="modal-content">

                                        <div class="modal-body" style="color:black">
                                          <div id="dr-{{r.id}}" style="display:none" >

                                          </div>
                                        </div>

                                      </div>

                                    </div>
                                  </div>


                                </div>
                              </div>
                            </div>

                            {% endif %}

                      {% endfor %}

                {% else %}
                    {% for r in recetas %}
                        {% if r.publica %}
                            {% if r.Tipo.pk == tipo.pk %}

                            <div class="col-sm-3 recipe-profile-list" >

                              <div class="panel panel-primary">

                                <div class="panel-heading">
                                  {% if receta.Imagen %}
                                  <img class="img-rounded img-responsive" src="{{MEDIA_URL}}{{r.Imagen}}"  alt="Imagen no disponible" />
                                  {% else %}
                                  <img  class="img-rounded img-responsive" src="{{r.Imagen_URL}}"  alt="Imagen no disponible" />
                                  {% endif %}
                                  <a style="color:white;" href="{% url 'menu:detailfood' r.pk %}" >{{r.Titulo}}</a>

                                </div>

                              </div>
                            </div>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
              </div>
            </div>
          </div>




        </div>
      {% endfor %}

        </div>









      {% if request.user == usuario %}
          <div class="col-md-2">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Publicas</th>
            </tr>
          </thead>
          <tbody>
            {% for receta in recetas  %}
            {% if receta.publica %}
            <tr>
              <td> <a href="{% url 'menu:detailfood' receta.pk %}" >{{receta.Titulo}}</a></td>
            </tr>
            {% endif %}
            {% endfor %}
          </tbody>
        </table>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Privadas</th>
            </tr>
          </thead>
          <tbody>

            {% for receta in recetas  %}
            {% if not receta.publica %}
            <tr>
              <td> <a href="{% url 'menu:detailfood' receta.pk %}" >{{receta.Titulo}}</a></td>
            </tr>
            {% endif %}
            {% endfor %}

          </tbody>
        </table>

      </div>

      {% endif %}
  </div>
</div>
{% endblock %}
