

/* ==========================================================================
   Author's custom styles

   background-color: rgb(30 ,136,229);
   ========================================================================== */

body{
  font-family: 'Oswald', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  min-height: 100vh;

  background-image: url('../sayagata.png');

}

#section1 {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;}
#section2 {padding-top:50px;height:500px;color: #fff; background-color: #673ab7;}
#section3 {padding-top:50px;height:500px;color: #fff; background-color: #ff9800;}
#section41 {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;}
#section42 {padding-top:50px;height:500px;color: #fff; background-color: #009688;}


.affix {
    top:0;
    width: 100%;
    z-index: 9999 !important;
}
.affix ~ .container-fluid {
   position: relative;
   top: 50px;
}

#last-r-Carousel{
  width: 100%;
}

.navbar{
  width: 100%;
  border: 0px;
  border-radius: 0px;
  margin-bottom: 0px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    height: 650px;
    margin: auto;
    width: 70%;

}

@media only screen and (max-width: 600px) {

  .wmd-panel{
    margin-left: 0;
    margin-right: 0;
    min-width: 300px;

  }
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      height: 250px !important;
  }
  .carousel-indicators {
    display: none;
  }


}

#form_r{
  background: white;
  padding: 50px;
  margin-bottom: 50px;
}

.panel-heading .panel-footer{
  background-color: rgb(21, 101, 192);
}

#full-container{
  min-height: 450px;
  width: 100%;
}

.receta {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  border-radius: 10px;
}


.footer {

  width: 100%;
  align-self: flex-end;
  background-color: rgb(21, 101, 192);
  text-align: center;
  color: white;
  padding: 1rem;

}

footer a {
  color : white;
}



/* Base style for tables */

.col-md-3 img{
  width: auto;
  height: 150px;
}

.col-md-3{
  text-align: center;
  padding-top: 10px;
}

.col-md-3:hover {
  opacity: 0.7;
}


/* Modal CSS style */

.modal img{
  margin: auto;
  width: inherit;
  height: inherit;
}

.modal-body p{
  font-weight: bold;
}

.modal h3{
  text-align: center;
}
/* buttons styles */

.center-buttons{
  text-align: center;
  margin-bottom: 15px;
}
