

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
  background-color: #f7f7f7;

}

#full-container{


}
.thumbnail{
  background-color: #dfe3ee;
  box-shadow: 5px 5px 5px #888888;

}

footer {

  background-color: #101010;
  text-align: center;
  color: white;
  padding: 1rem;


}



/* Base style for tables */

.col-md-3 img{
  width: auto;
  height: 150px;
}

.col-md-3{

  text-align: center;
  padding-top: 10px;


}
.col-md-3:hover {
  text-decoration: underline;
  opacity: 0.7;
}

.navbar li:hover{
  background-color: black;
}

.navbar{
  border-radius: 0px;
}

/* Modal CSS style */

.modal img{
  border: 2px solid black;
  margin: auto;
  border-radius: 25px;
  width: inherit;
  height: inherit;

}
.modal-body p{
  font-weight: bold;
}
.modal h4{
  text-align: center;
}
/* buttons styles */

.center-buttons{

  text-align: center;
  margin-bottom: 15px;
}
.right-buttons{
  float: right;
}


/* Agregar/Editar/borrar receta  CSS style */
