

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body{
  background-color: #f7f7f7;
}

.full-container{
  margin-top: 60px;
  min-height: 550px;
}
.thumbnail{
  background-color: #dfe3ee;
  box-shadow: 5px 5px 5px #888888;

}

footer {
  background-color: #101010;
  text-align: center;
  color: white;
  padding: 1rem;
}

.pagination{
  text-align: center;
  width: 100%;
  margin: 0px;
}

/* Base style for tables */

.col-md-3 img{
  width: auto;
  height: 150px;
}

.col-md-3{
  -moz-transition: -webkit-scale 2.2s ease-in 3.5s;
  -webkit-transition: -webkit-scale 2.2s ease-in 3.5s;
  text-align: center;
  padding-top: 10px;


}
.col-md-3:hover {
  -webkit-transform: scale(1.1,1.1);
  -moz-transform: scale(1.1,1.1);
  text-decoration: underline;
}




/* Modal CSS style */

.modal img{
  border: 2px solid black;
  margin: auto;
  border-radius: 25px;
  width: inherit;
  height: inherit;

}
.modal-body p{
  font-weight: bold;
}
.modal h4{
  text-align: center;
}
/* buttons styles */

.center-buttons{
  margin: auto;
  text-align: center;
}
.right-buttons{
  float: right;
}


/* Agregar/Editar/borrar receta  CSS style */

#CUD {
  min-height: 541px;
}

.wmd-panel{
  background-color: #dfe3ee;
}
