

  {% if form.errors %}
    <p>
      {{form.errors}}
    </p>
  {% endif %}

  <form class='white-form' id="form_r" role='form' method="post"   enctype='multipart/form-data' action="{% url 'menu:addfood' %}" >
    {% csrf_token %}
    <div class="form-group">

        {{form.as_p}}
        <input id="id_owner" name="owner" value="{{request.user.pk}}" type="hidden">

    </div>

    <div class="center-buttons">
      <a href="#" id="no_agregar" role="button" class="btn btn-danger" ><span class="glyphicon glyphicon-remove"></span> Cancelar</a>
      <button type="submit" class="btn btn-primary" ><span class="glyphicon glyphicon-save"></span> Guardar</button>

    </div>
  </form>
