{% block contenido %}
<div class="container-fluid" id="CUD">
  {% if form.errors %}
    <p>
      {{form.errors}}
    </p>
  {% endif %}

  <form role='form' method="post"  enctype='multipart/form-data' action="{% url 'menu:addfood' %}" >
    {% csrf_token %}
    <div class="form-group">
      <ul>

        {{form.as_ul}}
      </ul>

    </div>

    <div class="center-buttons">
      <a href="#" id="no_agregar" role="button" class="btn btn-danger" ><span class="glyphicon glyphicon-remove"></span> Cancelar</a>
      <button type="submit" class="btn btn-primary" >Guardar</button>

    </div>
  </form>
</div>
{% endblock %}
