


  <h1 style="text-align:center;">
    Estas seguro de borrar {{receta.Titulo}}?
  </h1>
<form id="borrar-form" role="form" method="post" action="">
  {% csrf_token %}

  <div class="center-buttons">
  <button type="submit" class="btn btn-success" >Si </button>
  <a  role="button" class="btn btn-danger no_borrar" >No</a>
  </div>
</form>


<script type="text/javascript">

  $(document).ready(function(){
    var borrar_form= $('#borrar-form');
    borrar_form.submit(function(e) {
          e.preventDefault();
          p= $('#user').attr('usuario');
          console.log(p);

          $.ajax({
              type:"POST",
              url: "{% url 'menu:deletefood' 0 %}".replace('0',{{receta.pk}}),
              data:{
                csrfmiddlewaretoken:$('input[name=csrfmiddlewaretoken]').val()
              }
          }).done(function( data ) {

                var content = $( data ).find( "#recepy-grid" );
                var pcont = $(data).find(".pagination");
                $( "#full-container" ).empty().append( content );
                $('#paginador').empty().append(pcont);

                salvattore.recreateColumns(document.querySelector('#grid'));
                $("body").removeAttr("class");
                $("body").removeAttr("style");

                $.get( "/accounts/profile/"+p, function( data ) {
                   var c= $(data).find('.col-md-9');
                   $('.col-md-9').replaceWith(c);
                });

            });
      });

      $('.no_borrar').click(function(){
        $("#dr-"+{{receta.pk}}).slideToggle();
      });
  });
</script>
