{% extends "menuchooser/base.html" %}
{% load static %}
{% load markdown_deux_tags %}


    {% block navbar %}

    {% endblock %}


    {% block contenido %}
    <div  class="container text-center white-form"  >
      <div class="row">
        <div class="col-md-8 text-center">
          <h1>{{receta.Titulo|capfirst}}</h1>
          {% if receta.Imagen %}
          <img class="img-rounded img-responsive" src="{{MEDIA_URL}}{{receta.Imagen}}"  alt="Imagen no disponible" />
          {% else %}
          <img  class="img-rounded img-responsive" src="{{receta.Imagen_URL}}"  alt="Imagen no disponible" />
          {% endif %}
          <hr>
          <h3><a href="{% url 'menu:tipofood' receta.Tipo.pk %}" >#{{receta.Tipo}}</a></h3>
          <hr>
          <h3>Ingredientes:</h3>

          {{receta.Ingredientes|markdown}}

          <hr>
          <h3>Procedimiento:</h3>

          {{receta.Receta|markdown}}

        </div>
        <div class="col-md-4">
          <a href="{{ request.META.HTTP_REFERER }}">Back </a>


        </div>

      </div>
    </div>

    {% endblock %}
 
