{% load static %}
<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <title>Recipe Gallery\ Editar </title>
      {{form.media}}

      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="apple-touch-icon" href="apple-touch-icon.png">
      <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">

      <link rel="stylesheet" href= {% static "menuchooser/css/bootstrap.min.css" %}>


      <link rel="stylesheet" href= {% static "menuchooser/css/main.css" %} >
      <link rel="shortcut icon" href= {% static "menuchooser/favicon.ico" %} >

      <script src= {% static "menuchooser/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js" %} ></script>
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href='/' class="navbar-brand"><span class="glyphicon glyphicon-heart"></span> Recipe Gallery</a>
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navMenu">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="navMenu">
          <ul class="nav navbar-nav ">
            <li class="dropdown nav-button">
              <a class="dropdown-toggle" data-toggle="dropdown" href="#">Categorias <span class="caret"></span></a>
              <ul class="dropdown-menu">
                {% for tipo in tipos %}
                <li><a  href="?tipo={{tipo.pk}}" >{{tipo.Tipo}}</a></li>
                {% endfor %}

              </ul>
            </li>
            <li  class="nav-button"><a href="#" id="agregar_receta" ><span class="glyphicon glyphicon-plus"></span> Agregar Receta</a></li>

          </ul>
          <ul class="nav navbar-nav navbar-left" role="search">
            <li>
              <form role="form" action="{% url 'menu:index' %}" class="navbar-form"    method="get" >
                    <div class="form-group">
                      <input class="form-control"  placeholder="Search" type='text'  name="q" value={% if query %}"{{query}}"{%else%}""{% endif %} >
                    </div>
                    <button class="btn btn-default" type="submit" ><span class="glyphicon glyphicon-search"></span> Buscar</button>
              </form>
            </li>

          </ul>
        </div>
      </div>
    </nav>

    <div class="container" >
      {% if form.errors %}
        <p>
          {{form.errors}}
        </p>
      {% endif %}

      <form id='form_r' role='form' method="post"  enctype='multipart/form-data'>
        {% csrf_token %}
        <div class="form-group">
          <ul>
            {{form.as_ul}}
          </ul>

        </div>

        <div class="center-buttons">
          <a href= "{% url 'menu:index' %}" role="button" class="btn btn-danger" >Cancelar</a>
          <button type="submit" class="btn btn-primary" >Guardar</button>
        </div>
      </form>
    </div>

    <footer class="footer" >

        <span>All rights reserved | <a href="https://about.me/ferr_velazquez" target="_blank">Fernando Velazquez</a> | 2016 </span>

    </footer>

  </body>
</html>
