{% extends "menuchooser/base.html" %}
{% load bootstrap3 %}

{% load static %}



{% block contenido %}

      <div class="container" >
        {% if form.errors %}
        <p>
          {{form.errors}}
        </p>
        {% endif %}

        <form class='white-form' role='form' method="post"  enctype='multipart/form-data' action=''>
          {% csrf_token %}
          {% bootstrap_form form %}

          <div class="center-buttons">
            <a href="{{ request.META.HTTP_REFERER }}" role="button" class="btn btn-danger" >Cancelar</a>
            <button type="submit" class="btn btn-primary" >Guardar</button>
          </div>
        </form>
      </div>
{% endblock %}
