{% extends "menuchooser/base.html" %}
{% load markdown_deux_tags %}
{% load bootstrap_pagination %}

{% block body_set %}
<body style="display: flex;flex-wrap: wrap;" >
{% endblock %}

{% block navbar_content %}
<div class="collapse navbar-collapse" id="navMenu">
  <ul class="nav navbar-nav ">
    {% if request.user.is_authenticated %}
    <li  class="nav-button"><a href="#" id="agregar_receta" ><span class="glyphicon glyphicon-plus"></span> Agregar Receta</a></li>
    {% endif %}
    <li class="dropdown nav-button">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Categorias <span class="caret"></span></a>
      <ul class="dropdown-menu">
        {% for tipo in tipos %}
        <li><a href="{% url 'menu:tipofood' tipo.pk %}" >{{tipo.Tipo}}</a></li>
        {% endfor %}
      </ul>
    </li>
  </ul>
  <ul class="nav navbar-nav" role="search">

    <li>
      <form role="form" action="" class="navbar-form"  method="get" >
        <div class="form-group">
          <input class="form-control"  placeholder="Search" type='text'  name="q" value= {% if query %}"{{query}}"{% endif %} >
        </div>
        <button class="btn btn-default" type="submit" ><span class="glyphicon glyphicon-search"></span> Buscar</button>
      </form>
    </li>

  </ul>
  <ul class="nav navbar-nav navbar-right">
    {% if request.user.is_authenticated %}
    <li class="dropdown nav-button" >
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">{{request.user.get_username}} <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>  <a href="{% url 'menu:userprofile' request.user.id %}" >Mi perfil </a> </li>
            <li>  <a href="{% url 'menu:edituserprofile' request.user.id %}" >Ajustes </a> </li>
            <li class="divider"></li>
            <li> <a href={% url 'menu:logout' %}  ><span class="glyphicon glyphicon-log-out"></span>Log Out</a> </li>
          </ul>
    </li>
        {% else %}
        <li><a href="{% url 'menu:register' %}" ><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="{% url 'menu:login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        {% endif %}

  </ul>
</div>

{% endblock %}

{% block contenido %}
<div id="agregarDiv" class="container" style="display:none;width: 100%;">
  {% include "menuchooser/agregar-receta.html"  %}
</div>

<div class="container-fluid" id="full-container">
{% if query and not recetas %}
  <div class="white-form">
    <h2 style="text-align:center;" >No se encontraron recetas con el termino de busqueda {{query}}</h2>

  </div>
{% else %}
  <div id="recepy-grid">

    <div class="container-fluid"  id="grid" data-columns="4" >

      {% for receta in recetas  %}
          {% if receta.publica  %}
          <div >

                      <div class="receta panel  panel-primary">

                      <div class="panel-body panel-feed" data-toggle="modal" data-backdrop="false" data-target="#modal_{{receta.pk}}">
                        {% if receta.Imagen %}
                        <img class="img-rounded" src="{{MEDIA_URL}}{{receta.Imagen}}"   alt="Imagen no disponible" />
                        {% else %}
                        <img  class="img-rounded" src="{{receta.Imagen_URL}}"  alt="Imagen no disponible" />

                        {% endif %}

                      </div>
                      <div class="panel-footer">
                        <div class="recipe-title text-center">
                          <a  href='{% url 'menu:detailfood' receta.pk %}' >{{receta.Titulo|upper}}</a>

                        </div>
                        <ul class="list-inline infofeed">
                          <li>
                            <a href="{% url 'menu:userprofile' receta.owner.id %}" >{{receta.owner.username}}</a>
                          </li>
                          <li >
                            {{receta.pub_date}}
                          </li>
                        </ul>



                      </div>
                    </div>

                    <!-- Modal   -->
                    <div id="modal_{{receta.pk}}" class="modal fade" role="dialog">
                      <div class="modal-dialog modal-lg">

                        <!-- Modal   content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>

                            <h2 class="modal-title"><a href='{% url 'menu:detailfood' receta.pk %}' >{{receta.Titulo|upper}}</a></h2>
                          </div>
                          <div class="modal-body">

                            {% if receta.Imagen %}
                            <img class="img-rounded img-responsive" src="{{MEDIA_URL}}{{receta.Imagen}}"  alt="Imagen no disponible" />
                            {% else %}
                            <img  class="img-rounded img-responsive" src="{{receta.Imagen_URL}}"  alt="Imagen no disponible" />
                            {% endif %}
                            <hr>
                            <h3><a href="{% url 'menu:tipofood' receta.Tipo.pk %}" >{{receta.Tipo}}</a></h3>
                            <hr>
                            <h3>Ingredientes:</h3>

                            {{receta.Ingredientes|markdown}}

                            <hr>
                            <h3>Procedimiento:</h3>

                            {{receta.Receta|markdown}}

                          </div>
                          <div class="modal-footer">
                            {% if request.user == receta.owner %}
                            <div class="center-buttons">
                              <a href=" {% url 'menu:editfood' receta.id %}" role="button" class="btn btn-primary">Editar</a>
                              <button recepy-id={{receta.id}} role="button" class="btn btn-danger deletebutton">Borrar</button>

                            </div>

                            {% endif %}
                            <div id="dr-{{receta.id}}" style="display:none">

                            </div>
                            <div class="text-left">
                              <a   href="{% url 'menu:userprofile' receta.owner.id %}" >{{receta.owner.username}}</a>
                            </div>
                            <button id="cerrar_modal" type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>

                          </div>
                        </div>

                      </div>
                    </div>
        </div>
        {% endif %}
      {% endfor %}
    </div>

  </div>

{% endif %}





</div>


<div id="paginador" class="container-fluid text-center">
{% bootstrap_paginate recetas show_first_last="true" first_label="<<" last_label=">>"  range=5 %}
</div>



{% endblock %}
