{% extends "menuchooser/base.html" %}
{% load static %}

{% block body_set %}
  <body data-spy="scroll" data-target=".navbar" data-offset="50">
{% endblock %}

{% block nav_header %}
<nav class="navbar navbar-default" data-spy="affix" data-offset-top="850" >

{% endblock %}
<!-- navbar affix  -->

      {% block navbar_content %}
      <div class="collapse navbar-collapse" id="navMenu">
        <ul class="nav navbar-nav">
          <li><a class='slow_scroll' href="#queCocinar">Que cocinar?</a></li>
          <!--<li><a class='slow_scroll'  href="#tops">Top's</a></li>
          <li><a class='slow_scroll'  href="#section3">About Us</a></li>-->

        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if request.user.is_authenticated %}
          <li>  <a href="#">{{request.user.username}}  </a> </li>
          <li> <a href= {% url 'menu:logout' %}  ><span class="glyphicon glyphicon-log-out"></span>Log Out</a> </li>
          {% else %}
          <li><a href="{% url 'menu:register' %}" > <span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
          <li></a><a href="{% url 'login' %}"> <span class="glyphicon glyphicon-log-in"></span>Login</a></li>
          {% endif %}
        </ul>
      </div>
      {% endblock %}
    </div>
  </div>
</nav>








{% block contenido %}


<div >
      <div class=" jumbotron text-center ">
          <img src='{% static "menuchooser/logo.png" %}' style="width:350px;height:300px;"/>
      </div>

      <div   style="margin:0px!important;">
          <div  >
            <div class="text-center" style="margin-bottom:0px;width:100%;">
              <h3>
                Ultimas Recetas Agregadas
              </h3>
            </div>

            <!-- carousel -->
            <div id="last-r-Carousel" class="carousel slide" data-ride="carousel">
              <!-- Indicators -->
              <ol class="carousel-indicators">
                {% for r in recetas_recientes  %}
                <li data-target="#last-r-Carousel" data-slide-to="{{forloop.counter0}}" {% if forloop.first %} class="active"{% endif %}></li>
                {% endfor %}
              </ol>

              <!-- Wrapper for slides -->
              <div class="carousel-inner" role="listbox">

                {% for r in recetas_recientes  %}
                <div {% if forloop.first %} class="item active" {%else%} class="item" {% endif %}>
                  {% if r.Imagen %}
                  <img class="img-rounded" src="{{MEDIA_URL}}{{r.Imagen}}" alt="Imagen no disponible" />
                  {% else %}
                  <img  class="img-rounded" src="{{r.Imagen_URL}}" alt="Imagen no disponible" />
                  {% endif %}
                  <div class="carousel-caption">
                    <h3><a href='{% url 'menu:detailfood' r.pk %}' >{{r.Titulo|capfirst}}</a></h3>
                  </div>
                </div>
                {% endfor %}
              </div>

              <!-- Left and right controls -->
              <a class="left carousel-control" href="#last-r-Carousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="right carousel-control" href="#last-r-Carousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>

        </div>

      <div id="queCocinar" class="container-fluid text-center">
        <h2>¿Que cocinar?</h2>
        <h3>La pregunta de todos los dias que ya no te haras nunca mas.</h3>
        <h4>Navega por nuestras secciones y encuentra exactamente lo que necesitas!</h4>
            <div class="row">
                  <div class="container">
                        {% for t in tipos  %}

                         <div class="col-md-4">
                           <div class="tipo-img slideanim">


                                <h3 ><a style="color:white" href="{% url 'menu:tipofood' t.pk %}">{{t.Tipo}} </a></h3>
                                <a href="{% url 'menu:tipofood' t.pk %}">
                                <img   class="img-rounded" src="{{MEDIA_URL}}{{t.Imagen}}" alt="{{r.Tipo}}" height="200" width="300" />
                                </a>

                            </div>


                         </div>

                        {% endfor %}


                  </div>
           </div>

      </div>
      <!--
      <div id="tops" class="container-fluid">
        <h1>Section 2</h1>
        <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
        <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
      </div>
      <div id="section3" class="container-fluid">
        <h1>Section 3</h1>
        <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
        <p>Try to scroll this section and look at the navigation bar while scrolling! Try to scroll this section and look at the navigation bar while scrolling!</p>
      </div>
       -->


</div>



{% endblock %}
